.about{
    display: flex;
    border-bottom: 1px solid #4d4d4d;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:1240px) {

    .about{
          display: grid;
          grid-template-columns: 300px 300px;
    }

    .storelink2 a{
        float: left;
        margin-top: 10px;
    }

    .footer-list-heading{
        margin-top: 20px;
    }
    
}

@media (max-width:640px) {

    .about{
          display: flex;
          flex-wrap: wrap;
    }
    
}