
.feature-img{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.feature-img img{
    margin-bottom: 42px;
}
.feature-heading{

    color: #fff;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin-top: 0;
}

.feature-desc{
    font-size: 15px;
    width: 260px;
    margin-top: 10px;
    color: #e0cbc1;
    line-height: 1.3;
    text-align: center;
    font-weight: 300;
}

@media (max-width: 930px) {
     .feature-section .features-row{
         justify-content: space-around;
     }


    }
